$color-primary: #dd2e44;
$color-secondary: #226699;
$color-primary-text: rgba(0, 0, 0, 0.87);
$color-secondary-text: #ffffff;
$color-input-border: rgba(0, 0, 0, 0.42);

$url-chrome: 'chrome-extension://__MSG_@@extension_id__/images/';
$url-mozilla: 'moz-extension://__MSG_@@extension_id__/images/';

$inner-post-background: #ffffff;
