$url-chrome: 'chrome-extension://__MSG_@@extension_id__/images/';
$url-mozilla: 'moz-extension://__MSG_@@extension_id__/images/';

.botz-detected {
  background-repeat: round;
  background-size: 24px 24px;

  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url($url-chrome+'background.png');

  @-moz-document url-prefix() {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url($url-mozilla+'background.png');
  }

  .botz-report-button {
    display: none;
  }
}

.botz-report-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  background-image: url($url-chrome+'icon_small.png');

  @-moz-document url-prefix() {
    background-image: url($url-mozilla+'icon_small.png');
  }

  &:hover {
    text-decoration: none;
  }
}
